.cartContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.cartImage{
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0.4rem;
    right: 4rem;
}
.cartCounter{
    width: 22px;
    height: 22px;
    background-color: #4b51a5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    transition: all 0.3s ease-in-out;
}